.bundle
log/*.log
*.swp
*.bak
.DS_Store
.sass-cache
tmp/*
tmp/**/*
test/*
test/**/*
config/*.yml
public/ckeditor_assets/**/*
public/ckeditor_assets/*
public/system
public/cache
public/images/Thumbs.db
.rvmrc